In [1]:
import requests
import io 
import pandas as pd

url = 'https://poweroutage.com/about/majorevents'

header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

r = requests.get(url, headers=header)
dfs = pd.read_html(r.text)
dfs[0]

                            State   Customers Affected
0                  North Carolina         940 Thousand
1                       Tennessee         710 Thousand
2                           Maine         380 Thousand
3                    Pennsylvania         360 Thousand
4      GA, VA, TX, NY, OH, NH, SC  200 to 300 Thousand
5  AL, KY, CT, MD, MA, VT, WA, NJ  100 to 200 Thousand

In [14]:
df = dfs[0]

In [39]:
df1 = dfs[1]

In [63]:
df1

            State Customers Affected
0         Florida       3.28 Million
1  North Carolina       579 Thousand
2  South Carolina       378 Thousand
3        Virginia       211 Thousand